* {
	background-color: transparent;
	color: #fff;
	font-family: Ubuntu, sans-serif;
	font-size: 12px;
}

#workspaces button {
	border-radius: 0;
	padding: 0px;
	border: none;
	background-color: transparent;
}

#workspaces button.active * {
	background-color: rgba(66,66,66,1);
}

#workspaces button.urgent * {
	background-color: orange;
}

#clock,
#pulseaudio,
#network,
#custom-weather,
#tray {
	margin-left: 4px;
	margin-right: 4px;
}

#tray window {
	background-color: #333;
	border-radius: 6px;
}

#tray window *:hover {
	background-color: #444;
}
