window {
	color: #fff;
	border-radius: 8px;
	background-color: #222;
}

#outer-box {
	padding: 8px;
}

#input {
	background-color: #333;
	border: 0;
	padding: 4px;
	color: #fff;
	margin-bottom: 8px;
}

#inner-box {
	border: 0;
}

#entry {
}

#entry:selected {
	background-color: #333;
	border: 0;
	outline: 0;
	font-weight: bold;
}
